<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>管理端</title>
    <script src="/js/jquery.js" charset="utf-8"></script>
    <script src="/js/bootstrap.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="page-wrap">
      <div class="page-menu">
        <ul class="nav nav-pills nav-stacked" id="nav">
          <li role="presentation" title="house"><a href="/admin/house">房源</a></li>
          <li role="presentation" title="link"><a href="/admin/link">友情链接</a></li>
          <li role="presentation" title="ad"><a href="/admin/ad">广告管理</a></li>
          <li role="presentation" title="broker"><a href="/admin/broker">经纪人管理</a></li>
        </ul>
      </div>
      <div class="page-content">
        <div class="navbar navbar-default">
          <form class="navbar-form navbar-left" action="?" method="get">
            <div class="form-group" style="margin-right:20px;">
              <button id="btn_add" type="button" class="btn btn-default glyphicon glyphicon-plus">新建</button>
            </div>
            <div class="form-group" style="margin-right:20px;">
              <button id="btn_del" type="button" class="btn btn-default glyphicon glyphicon-remove">删除</button>
            </div>
            <div class="form-group">
              <input type="search" class="form-control" name="keyVal" value="<%= keyval%>">
              <button type="submit" class="btn btn-default" >搜索</button>
            </div>
          </form>
        </div>
        <nav aria-label="Page navigation">
          <ul class="pagination margin-0">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <!--<li><a href="#">1</a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
            <!--<li><a href="#">4</a></li>-->
            <!--<li><a href="#">5</a></li>-->
            <%for (var a=1;a<=page;a++){%>
            <li><a href="?page=<%=a%>"><%= a%></a></li>
            <%}%>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <table class="table">
          <thead>
            <tr>
              <th width="300">
                <label>
                  <input type="checkbox">
                  ID
                </label>
              </th>
              <%
              nameVals.forEach(item=>{
                  if (item=='ID') return;
              %>
              <th width="200"><%= item%></th>
              <%});%>
              <!--<th width="200">标题</th>-->
              <!--<th width="100">均价</th>-->
              <!--<th width="200">电话</th>-->
              <th width="200">操作</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(json=>{
            %>
            <tr>
              <%
              nameKeys.forEach(key =>{
              if (key=='ID') {
              %>
              <td>
              <label>
              <input type="checkbox" name="check" value="<%=json[key]%>">
               <%=json[key]%>
              </label>
              </td>
              <%  } else {
              %>
              <td><%=json[key]%></td>
              <!--&lt;!&ndash;<td><%=json.ave_price%></td>&ndash;&gt;-->
              <!--&lt;!&ndash;<td><%=json.tel%></td>&ndash;&gt;-->
              <% }
              })%>
              <td>
                <a href="javascript:;" class="edit" onclick="editClick('<%=json.ID%>')">编辑</a>
                <a href="/admin/<%= table%>/delete?id=<%=json.ID%>" onclick="return confirm('你确定删除这个房屋信息吗？删除不可撤销')">删除</a>
              </td>
            </tr>
            <%
              }); %>
          </tbody>
        </table>
      </div>
    </div>

    <div id="shadow" class="shadow" ></div>
    <div id="dialog" class="panel panel-default add_modify_dialog" >
      <div class="panel-heading">
        <h3 class="panel-title">
          添加/修改
          <a id="btn_close" href="#" class="pull-right glyphicon glyphicon-remove"></a>
        </h3>
      </div>
      <div class="panel-body" style="overflow:auto; height:460px;">
        <!--- action="?"当前地址提交----->
        <form class="form-horizontal" action="?" method="post" enctype="multipart/form-data" id="form_data">
          <input type="text" id="mod" value="0" name="mod" style="display: none">
          <input type="text" id="formId" value="" name="formId" style="display: none">
          <input type="text" id="pageID" value="" name="pageID" style="display: none">
          <div id="form_contrainer">

          </div>

          <!--<div class="form-group">-->
            <!--<label for="id1" class="col-sm-2 control-label">数据1</label>-->
            <!--<div class="col-sm-10">-->
              <!--<input type="text" class="form-control" id="id1" placeholder="请输入数据...">-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group">-->
            <!--<label for="id2" class="col-sm-2 control-label">数据2</label>-->
            <!--<div class="col-sm-10">-->
              <!--<input type="text" class="form-control" id="id2" placeholder="请输入数据...">-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group">-->
            <!--<label for="id3" class="col-sm-2 control-label">数据3</label>-->
            <!--<div class="col-sm-10">-->
              <!--<textarea class="form-control" rows="10" id="id3" placeholder="请输入数据..."></textarea>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group">-->
            <!--<label for="id4" class="col-sm-2 control-label">选择</label>-->
            <!--<div class="col-sm-10">-->
              <!--<select class="form-control" id="id4">-->
                <!--<option value="1">数据1</option>-->
                <!--<option value="2">数据2</option>-->
                <!--<option value="3">数据3</option>-->
                <!--<option value="4">数据4</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group">-->
            <!--<label for="id4" class="col-sm-2 control-label">文件</label>-->
            <!--<div class="col-sm-10">-->
              <!--<input type="file" class="form-control">-->
            <!--</div>-->
          <!--</div>-->

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary">提交</button>
              <button id="btn_cancel" type="button" class="btn btn-danger">取消</button>
            </div>
          </div>
        </form>
      </div>
    </div>


    <!--<script>-->
    <!--const $=document.querySelectorAll.bind(document);-->

    <!--//打开关闭-->
    <!--let oShadow=$('#shadow')[0];-->
    <!--let oDialog=$('#dialog')[0];-->
    <!--let oBtnAdd=$('#btn_add')[0];-->
    <!--let oBtnClose=$('#btn_close')[0];-->
    <!--let oBtnCancel=$('#btn_cancel')[0];-->

    <!--oBtnAdd.onclick=function (){-->
      <!--oShadow.style.display='block';-->
      <!--oDialog.style.display='block';-->
    <!--};-->

    <!--oBtnCancel.onclick=oBtnClose.onclick=function (){-->
      <!--oShadow.style.display='none';-->
      <!--oDialog.style.display='none';-->
    <!--};-->

    <!--//动态生成表单-->
    <!--let oFormContainer=$('#form_contrainer')[0];-->

    <!--const form_inputs=[-->
      <!--{type: 'text', name: 'title', title: '标题'},-->
      <!--{type: 'text', name: 'sub_title', title: '副标题'},-->
      <!--{type: 'text', name: 'position_main', title: '主位置'},-->
      <!--{type: 'text', name: 'position_second', title: '副位置'},-->
      <!--{type: 'number', name: 'ave_price', title: '均价'},-->
      <!--{type: 'number', name: 'area_min', title: '最小面积'},-->
      <!--{type: 'number', name: 'area_max', title: '最大面积'},-->
      <!--{type: 'tel', name: 'tel', title: '电话'},-->
      <!--{type: 'date', name: 'sale_time', title: '开盘日期'},-->
      <!--{type: 'date', name: 'submit_time', title: '交房日期'},-->
      <!--{type: 'text', name: 'building_type', title: '建筑类型'},-->
      <!--{type: 'file', name: 'main_img', title: '大图'},-->
      <!--{type: 'file', name: 'img', title: '小图(多选)', multiple: true},-->
      <!--{type: 'text', name: 'property_types', title: '户型'},-->
      <!--{type: 'file', name: 'property_img', title: '户型图'},-->
    <!--];-->

    <!--oFormContainer.innerHTML='';-->

    <!--for(let i=0;i<form_inputs.length;i++){-->
      <!--let data=form_inputs[i];-->
      <!--let oDiv=document.createElement('div');-->

      <!--oDiv.className='form-group';-->
      <!--oDiv.innerHTML=-->
      <!--`-->
      <!--<label for="id${i}" class="col-sm-2 control-label">${data.title}</label>-->
      <!--<div class="col-sm-10">-->
        <!--<input type="${data.type}" ${data.multiple?'multiple':''} class="form-control" name="${data.name}" id="id${i}" placeholder="请输入${data.title}...">-->
      <!--</div>-->
      <!--`;-->

      <!--oFormContainer.appendChild(oDiv);-->
    <!--}-->
    <!--</script>-->
    <script src="/js/from_data.js"></script>
    <script>
      let $W = document.querySelector.bind(document);

      $W('#btn_add').addEventListener('click',function () {
          $W('#shadow').style.display= 'block';
          $W('#dialog').style.display = 'block';
          methodEdit()
          $('#mod').val('0');
          $('#formId').val('');
      });
      $W('#btn_close').addEventListener('click',function () {
          $W('#shadow').style.display= 'none';
          $W('#dialog').style.display = 'none';
      })
      const from_input = data['<%= table %>'];
      console.log(data['<%= table%>']);
      // form_data

      $('#form_data').submit(function () {
          var inputs =Array.from($('input[type="date"]'));
          inputs.forEach(item=>{
              var date=Math.round( new Date(item.value).getTime()/1000)||0;
              var newinput = document.createElement('input');
              newinput.name = item.name;
              newinput.value = date
              item.name = '';
              $('#form_contrainer').append(newinput)
          })
          return true
      })
      // console.log($('#form_data'))

      // 生成
      function methodEdit(obj) {
          const oFormContainer = $W('#form_contrainer');
          oFormContainer.innerHTML = '';
          from_input.forEach(item=>{
              let div = document.createElement('div');
              div.className = 'form-group';
              div.innerHTML = `<label for="id1" class="col-sm-2 control-label">${item.title}</label>
            <div class="col-sm-10">
              <input type="${item.type}" ${ item.multiple? 'multiple': '' } class="form-control" id="id1" placeholder="请输入数据..."
              name="${item.name}" value="${obj?obj[item.name]||'':''}">
            </div>`;
              oFormContainer.appendChild(div);
              if (item.type ==='date'&&obj) {
                  var name = document.getElementsByName(item.name)[0];
                  var date = new Date(obj[item.name]*1000)
                  var Month = '';
                  var days = '';
                  if ((date.getMonth()+1)<10) {
                      Month = '0'+(date.getMonth()+1)
                  } else {
                      Month = (date.getMonth()+1)
                  }
                  if (date.getDate()<10) {
                      days = '0'+date.getDate()
                  } else {
                      days = date.getDate()

                  }
                  var datetime = date.getFullYear()+'-'+Month+'-'+days;
                  name.value = datetime;
              }

          });
      }

      function editClick(id) {
          $('#mod').val('1');
          $('#formId').val(id);
          var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
          var r = window.location.search.substr(1).split('=')
          $('#pageID').val(r[1]);
          $.ajax({
              method: 'get',
              url:'/admin/<%= table%>/edit',
              data: { id: id ,page: r[1]},
              success:function (val) {
                  $W('#shadow').style.display= 'block';
                  $W('#dialog').style.display = 'block';
                  methodEdit(val)
                  console.log(val)
              }
          })
      }
      function reqUrl() {

      }
      var checkArr = Array.from(document.getElementsByName('check'));
      $('#btn_del')[0].onclick=function () {
          var arr = [];
          console.log(checkArr)
              checkArr.forEach(item=>{
                  if (item.checked) {
                      arr.push(item.value)
                  }
              })
              console.log(arr);
          if (arr.length===0) return
              let url = '/admin/house/del?id='+encodeURIComponent(arr.join(','));
              if (confirm('您真的要删除这'+arr.length+'条数数据吗')) {
                  window.location.href = url;
              }
      }
      var lis =$('#nav')[0].children;
      lis=[].slice.call(lis);
     for (var a in lis) {
         if (lis[a].title=== '<%= table%>') {
             console.log(lis[a])
             lis[a].className = 'active'
         } else {
             lis[a].className= '';
         }
     }
    </script>
  </body>
</html>
