<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>管理端</title>
    <script src="/js/jquery.js" charset="utf-8"></script>
    <script src="/js/bootstrap.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="page-wrap">
      <div class="page-menu">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><a href="#">房源</a></li>
          <li role="presentation"><a href="#">友情链接</a></li>
          <li role="presentation"><a href="#">广告管理</a></li>
        </ul>
      </div>
      <div class="page-content">
        <div class="navbar navbar-default">
          <form class="navbar-form navbar-left" action="index.html" method="post">
            <div class="form-group" style="margin-right:20px;">
              <button id="btn_add" type="button" class="btn btn-default glyphicon glyphicon-plus">新建</button>
            </div>
            <div class="form-group" style="margin-right:20px;">
              <button id="btn_del" type="button" class="btn btn-default glyphicon glyphicon-remove">删除</button>
            </div>
            <div class="form-group">
              <input type="search" class="form-control">
              <button type="button" class="btn btn-default">搜索</button>
            </div>
          </form>
        </div>
        <nav aria-label="Page navigation">
          <ul class="pagination margin-0">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <table class="table">
          <thead>
            <tr>
              <th width="300">
                <label>
                  <input type="checkbox">
                  ID
                </label>
              </th>
              <th width="200">标题</th>
              <th width="100">均价</th>
              <th width="200">电话</th>
              <th width="200">操作</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(json=>{ %>
            <tr>
              <td>
                <label>
                  <input type="checkbox">
                  <%=json.ID%>
                </label>
              </td>
              <td><%=json.title%></td>
              <td><%=json.ave_price%></td>
              <td><%=json.tel%></td>
              <td>
                <a href="javascript:;">编辑</a>
                <a href="/admin/house/delete?id=<%=json.ID%>" onclick="return confirm('你确定删除这个房屋信息吗？删除不可撤销')">删除</a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <div id="shadow" class="shadow" ></div>
    <div id="dialog" class="panel panel-default add_modify_dialog" >
      <div class="panel-heading">
        <h3 class="panel-title">
          添加/修改
          <a id="btn_close" href="#" class="pull-right glyphicon glyphicon-remove"></a>
        </h3>
      </div>
      <div class="panel-body" style="overflow:auto; height:460px;">
        <!--- action="?"当前地址提交----->
        <form class="form-horizontal" action="?" method="post" enctype="multipart/form-data">

          <div id="form_contrainer">

          </div>

          <!--<div class="form-group">-->
            <!--<label for="id1" class="col-sm-2 control-label">数据1</label>-->
            <!--<div class="col-sm-10">-->
              <!--<input type="text" class="form-control" id="id1" placeholder="请输入数据...">-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group">-->
            <!--<label for="id2" class="col-sm-2 control-label">数据2</label>-->
            <!--<div class="col-sm-10">-->
              <!--<input type="text" class="form-control" id="id2" placeholder="请输入数据...">-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group">-->
            <!--<label for="id3" class="col-sm-2 control-label">数据3</label>-->
            <!--<div class="col-sm-10">-->
              <!--<textarea class="form-control" rows="10" id="id3" placeholder="请输入数据..."></textarea>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group">-->
            <!--<label for="id4" class="col-sm-2 control-label">选择</label>-->
            <!--<div class="col-sm-10">-->
              <!--<select class="form-control" id="id4">-->
                <!--<option value="1">数据1</option>-->
                <!--<option value="2">数据2</option>-->
                <!--<option value="3">数据3</option>-->
                <!--<option value="4">数据4</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group">-->
            <!--<label for="id4" class="col-sm-2 control-label">文件</label>-->
            <!--<div class="col-sm-10">-->
              <!--<input type="file" class="form-control">-->
            <!--</div>-->
          <!--</div>-->

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary">提交</button>
              <button id="btn_cancel" type="button" class="btn btn-danger">取消</button>
            </div>
          </div>
        </form>
      </div>
    </div>


    <!--<script>-->
    <!--const $=document.querySelectorAll.bind(document);-->

    <!--//打开关闭-->
    <!--let oShadow=$('#shadow')[0];-->
    <!--let oDialog=$('#dialog')[0];-->
    <!--let oBtnAdd=$('#btn_add')[0];-->
    <!--let oBtnClose=$('#btn_close')[0];-->
    <!--let oBtnCancel=$('#btn_cancel')[0];-->

    <!--oBtnAdd.onclick=function (){-->
      <!--oShadow.style.display='block';-->
      <!--oDialog.style.display='block';-->
    <!--};-->

    <!--oBtnCancel.onclick=oBtnClose.onclick=function (){-->
      <!--oShadow.style.display='none';-->
      <!--oDialog.style.display='none';-->
    <!--};-->

    <!--//动态生成表单-->
    <!--let oFormContainer=$('#form_contrainer')[0];-->

    <!--const form_inputs=[-->
      <!--{type: 'text', name: 'title', title: '标题'},-->
      <!--{type: 'text', name: 'sub_title', title: '副标题'},-->
      <!--{type: 'text', name: 'position_main', title: '主位置'},-->
      <!--{type: 'text', name: 'position_second', title: '副位置'},-->
      <!--{type: 'number', name: 'ave_price', title: '均价'},-->
      <!--{type: 'number', name: 'area_min', title: '最小面积'},-->
      <!--{type: 'number', name: 'area_max', title: '最大面积'},-->
      <!--{type: 'tel', name: 'tel', title: '电话'},-->
      <!--{type: 'date', name: 'sale_time', title: '开盘日期'},-->
      <!--{type: 'date', name: 'submit_time', title: '交房日期'},-->
      <!--{type: 'text', name: 'building_type', title: '建筑类型'},-->
      <!--{type: 'file', name: 'main_img', title: '大图'},-->
      <!--{type: 'file', name: 'img', title: '小图(多选)', multiple: true},-->
      <!--{type: 'text', name: 'property_types', title: '户型'},-->
      <!--{type: 'file', name: 'property_img', title: '户型图'},-->
    <!--];-->

    <!--oFormContainer.innerHTML='';-->

    <!--for(let i=0;i<form_inputs.length;i++){-->
      <!--let data=form_inputs[i];-->
      <!--let oDiv=document.createElement('div');-->

      <!--oDiv.className='form-group';-->
      <!--oDiv.innerHTML=-->
      <!--`-->
      <!--<label for="id${i}" class="col-sm-2 control-label">${data.title}</label>-->
      <!--<div class="col-sm-10">-->
        <!--<input type="${data.type}" ${data.multiple?'multiple':''} class="form-control" name="${data.name}" id="id${i}" placeholder="请输入${data.title}...">-->
      <!--</div>-->
      <!--`;-->

      <!--oFormContainer.appendChild(oDiv);-->
    <!--}-->
    <!--</script>-->
    <script>
      let $W = document.querySelector.bind(document);

      $W('#btn_add').addEventListener('click',function () {
          $W('#shadow').style.display= 'block';
          $W('#dialog').style.display = 'block';
      });
      $W('#btn_close').addEventListener('click',function () {
          $W('#shadow').style.display= 'none';
          $W('#dialog').style.display = 'none';
      })
      const oFormContainer = $W('#form_contrainer');
      const from_input = [
          { type: 'text', name: 'title', title: '标题'},
          { type: 'text', name: 'sub_title', title: '副标题'},
          { type: 'text', name: 'position_main', title: '主位置'},
          { type: 'text', name: 'position_second', title: '副位置'},
          { type: 'number', name:'ave_price', title: '均价'},
          { type: 'number', name:'area_min', title: '最小面积'},
          { type: 'number', name:'tel', title: '电话'},
          { type: 'date', name:'sale_time', title: '开盘时间'},
          { type: 'date', name:'submit_time', title: '交房的日期'},
          { type: 'file', name: 'main_img', title: '大图'},
          { type: 'file', name: 'img1', title: '小图1(多选)',multiple: true},
          { type: 'text', name: 'property_types', title: '户型'},
          { type: 'file', name: 'property_img', title: '户型图'},
      ];
      oFormContainer.innerHTML = '';
      from_input.forEach(item=>{
          let div = document.createElement('div');
          div.className = 'form-group';
          div.innerHTML = `<label for="id1" class="col-sm-2 control-label">${item.title}</label>
            <div class="col-sm-10">
              <input type="${item.type}" ${ item.multiple? 'multiple': '' } class="form-control" id="id1" placeholder="请输入数据..." name="${item.name}">
            </div>`;
          oFormContainer.appendChild(div);
      });
    </script>
  </body>
</html>
